/* Background color is #2F2F61
Form and Nav button color is #C9CAFC
Nav button color is #3F3A1C
Header/Title color is #DCC789
 */

 /* FONT
     font-family: 'EB Garamond', serif;

    font-family: 'Kanit', sans-serif; Headers

 
   font-family: 'Libre Franklin', sans-serif; is also the nav menu text*/

   /* Reset styling */
   *{
    margin:0px;
    padding:0px;
   }
   

:root{
    --paragraphBackground: #B8B8E0;
    --pageBackground:#2F2F61;
    --labelForRepMaxTable:#E0DEB8;
    --backgroundForNavMenu:#B8B8E0;
    --navLinkColor:#44433a;
    --navLinkHover:#A19E75;
    --navLinkVisited:#9E94B6;
    --tabBoxBackground:#802626;
    --table1A:white;
    --table1B:#8F9756;
    --table1C:#26805E;
    --table1D:#FFCCCC;
    --table1E:#CCFFEC;
    --table1F:#9C7E4E;
    --table1G:#9791A3;
    
}
/* General Styling */

header{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

h1{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

h2{
    font-family: 'Kanit', sans-serif;
    color:antiquewhite;
}


p{
    font-family: 'Libre Franklin', sans-serif;
    background-color: var(--paragraphBackground);
    
}

body{
    background-color: var(--pageBackground);
    


label, th, td{
    color: var(--table1E);
    font-size: 20px;
}

#mainEdit{
  max-width: 1100px;
  margin-left:30%;
  margin-right:20%;
}

/* Nav bar styling */
a{
    color:#26805E;
    background-color: var(--backgroundForNavMenu);
    padding:0.9rem;
    margin:0.5rem;
    font-size: 20px;
    
}

a :active{
    color:#8F9756;
}
.flex-container{
    display:flex;
    margin: 2rem 0.7rem;
}

.flex-item{
    flex: initial;
    padding-left: 4rem;
}

/* output styling */
#results{
    color:white;

