/* Background color is #2F2F61
Form and Nav button color is #C9CAFC
Nav button color is #3F3A1C
Header/Title color is #DCC789
 */

 /* FONT
     font-family: 'EB Garamond', serif;

    font-family: 'Kanit', sans-serif; Headers

    font-family: 'Libre Franklin', sans-serif; is also the nav menu text*/

:root{
    --paragraphBackground: #B8B8E0;
    --pageBackground:#2F2F61;
    --labelForRepMaxTable:#E0DEB8;
    --backgroundForNavMenu:#B8B8E0;
    --navLinkColor:#44433a;
    --navLinkHover:#A19E75;
    --navLinkVisited:#9E94B6;
    --tabBoxBackground:#802626;
    --table1A:white;
    --table1B:#8F9756;
    --table1C:#26805E;
    --table1D:#FFCCCC;
    --table1E:#CCFFEC;
    --table1F:#9C7E4E;
    --table1G:#9791A3;

}
/* General Styling */

header{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

h1{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

h2{
    font-family: 'Kanit', sans-serif;
    color:antiquewhite;
}





p{
    font-family: 'Libre Franklin', sans-serif;
    background-color: var(--paragraphBackground);
    margin-left: 10% ;
    margin-right:10%;
}

label{
    color:var(--paragraphBackground);
    
}

body{
    background-color: var(--pageBackground);
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
    font-weight: 300;
    line-height: 1.5;
    max-width: 70rem;
    margin: 0 auto;
    font-size: 112%;
    
}
/* Finding Traingin Max styling */
#trainMaxFinder{
    background-color: none;
    
}
.maxlabel{
    color:var(--labelForRepMaxTable);
}

#trainMaxCaption{
    color:var(--labelForRepMaxTable);
}

/* The folders tabs */
.flex-container{
    display:flex;
    flex-direction: row;
   
    
}

.flex-item{
    background-color: var(--backgroundForNavMenu);
    padding: 5px;
    margin: 5px;
    font-family: 'Libre Franklin', sans-serif;
    
}

.flex-item a:link {
    color:var(--navLinkColor);
}

.flex-item a:visited{
    color:var(--navLinkVisited);
}

.flex-item a:hover{
    color:var(--navLinkHover);
}

/* styleing for Tabs for file folder thingy */

.tabs{
    display:flex;
    flex-wrap:wrap;
}

.tabs label{  /* This are the other tab not the first on*/
    order: 1;
    display:block;
    cursor:pointer;
    padding: 1rem 2rem;
    margin-right:0.2rem;
    background: green;
    transition: ease-in 0.4s;
    width:5.8rem;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
}

.tabs .tab{  /* This is the body, where text goes*/
    order:90;
    flex-grow:1;
    width:100px;
    display: none;
    background: var(--tabBoxBackground);
    padding:0.5rem;
    
}

.tabs input[type="radio"]{   /* This takes off the radio buttons, the circles on the left of the list items*/
    display:none;
}

.tabs input[type="radio"]:checked + label{   /*This is makes the clicked tab a different color */
    background: white;
}

.tabs input[type="radio"]:checked + label + .tab{
    display:block;
}

th{
    text-align:center;
    
}

/* Sunday Table styling */
#tracker1A{
    width:100%;
    background: var(--table1A);
}
/* Monday Table styling */
#tracker1B{
    width:100%;
    background: var(--table1B);
}
/* Tuesday Table styling */
#tracker1C{
    width:100%;
    background:var(--table1C);
}
/* Wednesday Table styling */
#tracker1D{
    width:100%;
    background: var(--table1D);
}
/* Thursday Table styling */
#tracker1E{
    width:100%;
    background: var(--table1E);
}
/* Friday Table styling */
#tracker1F{
    width:100%;
    background: var(--table1F);
}
/* Saturday Table styling */
#tracker1G{
    width:100%;
    background: var(--table1G);
}

 
#maxText{
    color:white;
}

/* 1 rep max table */
